<script id="slideBar" type="text/x-handlebars-template">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">
               文章列表{{pp}}
            </li>
            {{#each item}}
            {{#ifCond this.currentId this.itemId}}
                <li id="{{this.itemId}}" class="active"><a href="#countryContent/centerContent/{{this.itemId}}">{{this.title}}</a></li>
            {{else}}
                <li id="{{this.itemId}}"><a href="#countryContent/centerContent/{{this.itemId}}">{{this.title}}</a></li>
            {{/ifCond}}
          {{/each}}
        </ul>
    </div>
</script>