<script id="header" type="text/x-handlebars-template">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">

                <ul class="nav">
                    <li class="active countryname"><a>文章</a></li>
                    <li class="setting"><a>设置</a></li>
                    <li class="about"><a>关于</a></li>
                </ul>
            </div>
        </div>
    </div>
</script>